@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0; padding: 0; width: 100vw; height: 100vh; overflow: hidden;
    background-color: #f8f9fa;
}
#map {
    position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1;
}
.leaflet-control-attribution, .leaflet-control-zoom { display: none !important; }

/* TIRA A CARA DE SITE NO CELULAR */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
::-webkit-scrollbar {
  display: none; width: 0; background: transparent;
}
