/* Customizações finas para o mapa e comportamento do app */
.leaflet-vizin-icon { 
    background: none; 
    border: none; 
}

/* Garante que o input no iOS não dê zoom na tela */
input, textarea {
    font-size: 16px !important;
}

/* Estilo para a barra de rolagem sumir mas continuar rolando (útil no mobile) */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}